<div class="content-body">
    <span 
    style="
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            color: green;
            margin-top: 20px;
            ">Delete Client</span>


    <div>
        <pre>Distance according client : {{getDistance()}}</pre>
    </div>

 <!-- <div ng-app ng-controller="ApplicationController" class="progress-cantainer">
        <mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar>
        <span style="position: absolute; top: 0em;" [ngStyle]="{'left': percentage + '%'}">{{percentage}}%</span>
</div>  -->

    <div class="map-container">
        <div id="map2"></div>
    </div>

    <div class="action-btns">
        <ng-template  #showBtn> 
            <button mat-button class="btn-yellow" (click)="WatchPosition()">Recalculate my position</button>
        </ng-template>
        <button mat-button class="btn-yellow" (click)="showcheck()"
            [disabled]="!Status">Next</button>
    </div>
    
    <ng-template  [ngIf]="!ValidatePosition()" [ngIfElse]="showBtn"> 
    <div class="container" *ngIf="hide">
        <div class="checkcodes-fields">

            <div class="scan-field">
                <label class="input-label">Delete Raison* </label>
                <mat-form-field>
                    <mat-select panelClass="selectPanel2" [(ngModel)]="raison" [(value)]="selected">
                        <mat-option value="Not exist">Not exist</mat-option>
                        <mat-option value="Out of category">Out of category</mat-option>
                        <mat-option value="End of activity">End of activity</mat-option>
                        <mat-option value="Duplicate">Duplicate</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            

            <div class="scan-field" *ngIf="selected=='Not exist'">
                <label class="input-label">PDV location video : </label>
                <button mat-button class="btn-green" *ngIf="!isRecording" (click)="displayVideo()">Record Video</button>
            </div>
            

            <div class="scan-field" *ngIf="selected=='Out of category' || selected=='End of activity' ">
                <label class="input-label">PDV photo : </label>
                <div>
                    <button mat-button class="btn-green" (click)="displayCam()"><mat-icon>camera_alt</mat-icon></button>
                </div>
            </div> 
            <div  *ngIf="showWebcam" class="Scan-container">
                <webcam [height]="200"
                        [width]="500"
                        [trigger]="triggerObservable"
                        (imageCapture)="handleImage($event)">
                </webcam>
                <div class="reas-nfc">
                    <button mat-button class="btn-green"  (click)="triggerSnapshot()">Click Here</button>
                    <button mat-button class="btn-green"  (click)="toggleWebcam()">Close Camera</button>
                </div>
            </div>
            <div  *ngIf="webcamImage" class="Scan-container">
        
                <div class="snapshot">
                  <img [height]="200"
                       [width]="200" [src]="webcamImage.imageAsDataUrl"/>
                </div>
              </div>     
        </div> 
        
        <div class="scan-field" *ngIf="showVideo"> 
            <label class="input-label">PDV location video : </label>
            <div class="video-container">

                <div class="video1">
                    <video class="video" #video autoplay controls></video>
                </div>
                
                <div class="video1">
                    <video class="video" controls #recordedVideo></video>
                </div>
                
                <div class="btns">
                    <button mat-button class="btn-green" *ngIf="!isRecording" (click)="startRecording()">Start Recording</button>
                    <button mat-button class="btn-red" *ngIf="isRecording" (click)="stopRecording()">Stop Recording</button>
                </div>
                
            </div>
        </div>
        
        <div class="btns">
            <button mat-button class="btn-red" routerLink="/map">Cancel</button>
            <button mat-button class="btn-yellow" (click)="Send()">Send</button>
        </div>
        
       </div>
    </ng-template> 
        
    <!-- </div> 
    <label class="input-label">PDV location video2 : </label>
    <div style="text-align:center">
        <video class="video" #video autoplay controls></video>
        <span class="m-1"></span>
        <video class="video" style="width:360 !important;" controls #recordedVideo></video>
        <br>
        <button class="btn btn-primary btn-lg" *ngIf="!isRecording2" (click)="startRecording2()">Start Recording</button>
        <button class="btn btn-warning btn-lg" *ngIf="isRecording2" (click)="stopRecording2()">Stop Recording</button>
    </div>  -->
    
</div>  



