<div class="requests-container">
    <div class="table-holder">

        <div class="title-holder">
          <h1 class="list-title">Users</h1>
          <div class="btns">
            <button mat-button style="background-color: #5b7e6d;" routerLink="/roles">Roles Management</button>
            <button mat-button (click)="AddNewuser()">Add New User</button>
          </div>
        </div>

        <div class="filter-container">
         
            <mat-form-field>
              <!-- <mat-label>Id User</mat-label> -->
              <input placeholder="Search..." matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchValue"/>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Status" panelClass="selectPanel2" (selectionChange)="onChangeStatus($event)" [(ngModel)]="selectedStatus">
                  <mat-option value="all">All</mat-option>
                  <mat-option value="out of work">Out Of Work</mat-option>
                  <mat-option value="Active">Active</mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field>
              <mat-select placeholder="Role" panelClass="selectPanel2"   (selectionChange)="onChangeRole($event)" [(ngModel)]="selectedRole">
                  <mat-option value="all">All</mat-option>
                  <ng-container *ngFor="let rol of roles">
                    <mat-option value="{{rol.name}}">{{rol.name}}</mat-option>
                  </ng-container>
                   
              </mat-select>
            </mat-form-field>

            <mat-form-field >
              <mat-select placeholder="Sector" panelClass="selectPanel2" (selectionChange)="onChangeSector($event)" [(ngModel)]="selectedSector">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Search" (keyup)="filterListCareUnit($event.target.value)" ></ngx-mat-select-search>
              </mat-option>
                <mat-option value="all">All</mat-option>
                <ng-container *ngFor="let sector of Sectors">
                  <mat-option value="{{sector.id}}">{{sector.detail}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
            
         

        </div>
      
        <table mat-table matSort [dataSource]="dataSource">
          <!-- <ng-container matColumnDef="Id">
            <th class="header id-column" mat-header-cell *matHeaderCellDef>
              <span>Id</span>
              
            </th>
            <td mat-cell *matCellDef="let request">{{request.UserID}}</td>
          </ng-container> -->
          
          <ng-container matColumnDef="Name">
            <th class="header name-column" mat-header-cell *matHeaderCellDef >
              <span>Name</span>
              <!-- <button mat-button class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>

            
            <td mat-cell *matCellDef="let request">
              <ng-container *ngIf="request.constructor.name == 'Array'">
                {{request[0].name}}
              </ng-container>
              <ng-container *ngIf="request.constructor.name == 'Object'">
                {{request.name}}
              </ng-container> 
            </td>
          </ng-container>
      
          <ng-container matColumnDef="CIN">
            
            <th class="header cin-column" mat-header-cell *matHeaderCellDef>
              <span>CIN</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>
            <td mat-cell *matCellDef="let request">
              <ng-container *ngIf="request.constructor.name == 'Array'">
                {{request[0].CIN}}
              </ng-container>
              <ng-container *ngIf="request.constructor.name == 'Object'">
                {{request.CIN}}
              </ng-container> 
            </td>
          </ng-container>
          
          <ng-container matColumnDef="Phone Number">
            <th class="header number-column" mat-header-cell *matHeaderCellDef>
              <span>Phone Number</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>
            <td mat-cell *matCellDef="let request">
              <ng-container *ngIf="request.constructor.name == 'Array'">
                {{request[0].phone}}
              </ng-container>
              <ng-container *ngIf="request.constructor.name == 'Object'">
                {{request.phone}}
              </ng-container> 
            </td>
          </ng-container>
            
          <ng-container matColumnDef="Email">
            <th class="header email-column" mat-header-cell *matHeaderCellDef>
              <span>Email</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon"></mat-icon>
              </button> -->
            </th>
            <td mat-cell *matCellDef="let request">
              <ng-container *ngIf="request.constructor.name == 'Array'">
                {{request[0].email}}
              </ng-container>
              <ng-container *ngIf="request.constructor.name == 'Object'">
                {{request.email}}
              </ng-container> 
            </td>
          </ng-container>

          <ng-container matColumnDef="Role">
            <th class="header role-column" mat-header-cell *matHeaderCellDef>
              <span>Role</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>
            <td mat-cell *matCellDef="let request">
              <!-- {{request.role}} -->
              <ng-container *ngIf="request.constructor.name == 'Array'">
                <mat-form-field >
                  <mat-select panelClass="selectPanel2" placeholder="See the roles" (selectionChange)="onSelectRole($event.value,request)">
                      
                    <mat-option *ngFor="let user of request" [value]="user.role">{{user.role}}</mat-option>
                   
                  </mat-select>
                </mat-form-field>
              </ng-container>
              <ng-container *ngIf="request.constructor.name == 'Object'">
                {{request.role}}
              </ng-container> 
              
              
            </td>
          </ng-container>


          <ng-container matColumnDef="Status">
            <th class="header role-column" mat-header-cell *matHeaderCellDef>
              <span>Status</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>
            <ng-container *matCellDef="let request" >

              <ng-container *ngIf="request.constructor.name == 'Array'">
                <ng-container *ngIf="selectedUser && request.includes(selectedUser.user)">
                  <td mat-cell *ngIf="selectedUser.user.status=='out of work'"><span style="background-color: #AE5827; padding: 3px; color: #fff; border-radius: 3px;">{{selectedUser.user.status}}</span></td>
                  <td mat-cell *ngIf="selectedUser.user.status=='Active'"><span style="background-color: #27AE61; padding: 3px; color: #fff; border-radius: 3px;">{{selectedUser.user.status}}</span></td>
                </ng-container>
  
                <ng-container *ngIf="!selectedUser || !request.includes(selectedUser.user)">
                  <td mat-cell><span style="background-color: #b3932b; padding: 3px; color: #fff; border-radius: 3px;">NaN</span></td>
                </ng-container>  
              </ng-container>
              <ng-container *ngIf="request.constructor.name == 'Object'">
                  <td mat-cell *ngIf="request.status=='out of work'"><span style="background-color: #AE5827; padding: 3px; color: #fff; border-radius: 3px;">{{request.status}}</span></td>
                  <td mat-cell *ngIf="request.status=='Active'"><span style="background-color: #27AE61; padding: 3px; color: #fff; border-radius: 3px;">{{request.status}}</span></td>
              </ng-container> 
              
              
            </ng-container>
          
          </ng-container>
      
          <ng-container matColumnDef="Actions">
            <th class="header actions-column" mat-header-cell *matHeaderCellDef>
              <span>Actions</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>
            
            <td mat-cell *matCellDef="let request">
              <ng-container *ngIf="request.constructor.name == 'Array'">
                <ng-container *ngIf="selectedUser && request.includes(selectedUser.user)">
                  <button mat-icon-button (click)="updateUser(selectedUser.user)" title="Update user"><mat-icon class="valid-icon">edit</mat-icon></button>
                  <button mat-icon-button (click)="deleteUser(selectedUser.user)" title="Delete user" *ngIf="selectedUser.user.status=='Active'">
                    <mat-icon class="refus-icon" >delete</mat-icon>
                  </button>
                  <button mat-icon-button (click)="restoreUser(selectedUser.user)" title="Bring back this user" *ngIf="selectedUser.user.status=='out of work'">
                    <mat-icon class="restore-icon" >restore_from_trash</mat-icon>
                  </button>
                  <button mat-icon-button (click)="viewUserDetails(selectedUser.user)" ><mat-icon class="detail-icon" title="Click to view user details.">remove_red_eye</mat-icon></button>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="request.constructor.name == 'Object'">
                <button mat-icon-button (click)="updateUser(request)" title="Update user"><mat-icon class="valid-icon">edit</mat-icon></button>
                  <button mat-icon-button (click)="deleteUser(request)" title="Delete user" *ngIf="request.status=='Active'">
                    <mat-icon class="refus-icon" >delete</mat-icon>
                  </button>
                  <button mat-icon-button (click)="restoreUser(request)" title="Bring back this user" *ngIf="request.status=='out of work'">
                    <mat-icon class="restore-icon" >restore_from_trash</mat-icon>
                  </button>
                  <button mat-icon-button (click)="viewUserDetails(request)" ><mat-icon class="detail-icon" title="Click to view user details.">remove_red_eye</mat-icon></button>
              </ng-container>
              
          
            </td>
          </ng-container>
          
      
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let request; columns: columnsToDisplay"></tr>
      
        </table>

        <mat-paginator [pageSizeOptions]="[ 10, 15, 20]" showFirstLastButtons></mat-paginator>
      
    </div>

</div>
