<!-- <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" /> -->
<h1 class="title">Data Injection</h1>
<div class="container">

    <section>
        <div class="upload">
            <img src="assets/images/upload.png" alt="">
            <p>Select & upload your files</p>
            <span *ngIf="numFileSelected">You selected {{numFileSelected}} files</span>
            <div class="btns">
                <button mat-raised-button class="select-btn" (click)="onClick($event)">
                    <mat-icon>add</mat-icon> Select Files
                </button>
                <input #fileUpload type="file" class="input_fileupload--hidden" multiple (change)="selectFiles($event)">

                <button mat-raised-button class="upload-btn" [disabled]="!selectedFiles" (click)="uploadFiles()">
                    <mat-icon>cloud_upload</mat-icon> Upload
                </button>
            </div>
        </div>

    </section>
    <section>
        <div *ngIf="isShown">
            <div *ngFor="let progressInfo of progressInfos" class="mb-2">

                <span class="file-name">{{ progressInfo.fileName }}</span>
                <div class="progress-cantainer">

                    <mat-progress-bar ng-app ng-controller="ApplicationController" mode="determinate"
                        [value]="progressInfo.value"></mat-progress-bar>
                    <span attr.aria-valuenow="{{ progressInfo.value }}"
                        [ngStyle]="{width: progressInfo.value + '%'}">{{progressInfo.value}}%</span>
                </div>
            </div>
            <div class="alert" role="alert" *ngIf="message">{{ message }}</div>
            <div class="btns" style="margin-top: 20px;">
                <button mat-raised-button class="run-btn" [disabled]="!selectedFiles" (click)="runscript()">
                    <mat-icon>play_circle</mat-icon> Run
                </button>
                <button mat-raised-button class="clear-btn" [disabled]="!selectedFiles" (click)="deletefile()">
                    <mat-icon>clear</mat-icon> Clear
                </button>
            </div>
        </div>

    </section>


</div>