<div class="content-body">
    
    <div class="map-container">
        <app-map></app-map>
    </div>

<div class="checkcodes-container">
        <div class="scan">
            <label class="input-label">Code Centrale Danoune : </label>
            <button class="action-button">Scan</button>
        </div>
        <div class="scan">
            <label class="input-label">Code Coca Cola : </label>
            <button class="action-button">Scan</button>
        </div>
        <div class="scan">
            <label class="input-label">Code FGD : </label>
            <button class="action-button">Scan</button>
        </div>
        <div class="action">
            <button class="check-button">Check codes</button>
        </div>
   

</div>
</div>