<div class="content-body">

    <p>Fixing Position...</p>
    <div class="progress-cantainer">
        <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
        <span [ngStyle]="{'left': progress + '%'}">{{progress}}%</span>
    </div>
    <div ng-app ng-controller="ApplicationController">   
        <pre>Status: {{ percentage }}%</pre>
    </div>

    <div class="map-container">
        <div id="map2"></div>
    </div>

      <div>
        <button (click)="showcheck()" [disabled]="(percentage!=100) ||  !Status">Add New Client</button>
        <div>
           
            <small>Result : </small>
            <strong>{{ lat }}</strong>, 
            <strong>{{ lon }}</strong>
        
        </div>
      </div>

    <button mat-button class="btn-yellow">
        Recalculate the position
    </button>

    
    <div class="container">
        <div class="checkcodes-fields" id="checkcodes" *ngIf="hide">
            <div class="scan-field">
                <label class="input-label">Code Centrale Danoune : </label>
                <button mat-button class="btn-green" [disabled]="test" (click)="toggleShow(1,qrResultString);">Scan</button>
            </div>
            <div class="scan-field">
                <label class="input-label">Code Coca Cola : </label>
                <button mat-button class="btn-green" [disabled]="test" (click)="toggleShow(2,qrResultString)">Scan</button>
            </div>
            <div class="scan-field">
                <label class="input-label">Code FGD : </label>
                <button mat-button class="btn-green" [disabled]="test" (click)="toggleShow(3,qrResultString)">Scan</button>
            </div>
        </div>
        <button mat-button class="btn-yellow" (click)="CheckCodes()">Check codes</button>
        
        <div id="divshow" *ngIf="isShown && !scan" class="Scan-container">
            <zxing-scanner Class="small-video" (scanSuccess)="onCodeResult($event)"></zxing-scanner>

            <section class="results" *ngIf="qrResultString">
                <div>
                    <small>Result{{code.nbr}} : </small>
                    <strong>{{ qrResultString }}</strong>
                </div>
                <button class="mat-icon-button"  (click)="toggleShow(code.nbr,qrResultString)">Clear</button>
            </section>
        </div>
    </div>

    <div class="container">

        <div class="inputs-container">
            <div class="nfc" id="nfc" *ngIf="nfcShown">
                <div class="scan-field">
                    <label class="input-label">NFC card puce : </label>
                    <button mat-button class="btn-green" (click)="Read()">Read</button>
                </div>
                <div class="scan-field">
                    <label class="input-label">Qr Code : </label>
                    <button mat-button class="btn-green" (click)="toggleShow(4,qrResultString);scan=!scan">Scan</button>
                </div>
                <div *ngIf="isShown && scan " class="Scan-container">
                    <zxing-scanner Class="small-video" (scanSuccess)="onCodeResult($event)"></zxing-scanner>
            
                    <section class="results" *ngIf="qrResultString">
                      <div>
                        <small>Result{{code.nbr}} : </small>
                        <strong>{{ qrResultString }}</strong>
                      </div>
                      <button class="mat-icon-button"  (click)="toggleShow(code.nbr,qrResultString)">clear</button>
                    </section>
                </div>
                <div class="scan-field">
                    <label class="input-label">NFC photo : </label>
                    <button mat-button class="btn-green" (click)="TakePhoto();camera1=!camera1" ><mat-icon>camera_alt</mat-icon></button>
                </div>
                <div  *ngIf="isShownCam && camera1" class="Scan-container">
                    <webcam [height]="100"
                            [width]="100"
                            [trigger]="triggerObservable"
                            (imageCapture)="handleImage($event)">
                    </webcam>
                </div>
                <div class="reas-nfc">
                    <button class="action-buttonShot" *ngIf="isShownCam && camera1"  (click)="triggerSnapshot()">Click Here and take the Shot</button>
                </div>
                <div  *ngIf="isShownCam && camera1" class="Scan-container">

                    <div class="snapshot" *ngIf="webcamImage">
                      <img [height]="90"

                           [width]="90" [src]="webcamImage.imageAsDataUrl"/>
                    </div>
                </div>
            </div>
            
            <div class="pdv">

                <div class="field">
                    <mat-form-field>
                        <mat-select placeholder="PDV Type*" panelClass="selectPanel2" [(ngModel)]="TypeDPV">
                            <mat-option value="">Alimentation</mat-option>
                            <mat-option value="">Superette</mat-option>
                            <mat-option value="">Aattar</mat-option>
                            <mat-option value="">Fruits sec</mat-option>
                            <mat-option value="">Boundif</mat-option>
                            <mat-option value="">Parfumerie</mat-option>
                            <mat-option value="">Kioske</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                    
                <div class="field">
                    <mat-form-field>
                        <mat-label>First & Last Name*</mat-label>
                        <input matInput placeholder="Typing..." [(ngModel)]="NomPrenom"/>
                    </mat-form-field>
                </div>
                
                <div class="field">
                    <mat-form-field>
                        <mat-label>Phone number*</mat-label>
                        <input matInput placeholder="+212" [(ngModel)]="PhoneNumber"/>
                    </mat-form-field>
    
                    <button mat-button class="btn-green" (click)="Verify('code')">Verify</button>
                </div>
                
                
                <div class="field">
                    <mat-label class="input-label">PV photo : </mat-label>
                    <button mat-button class="btn-green" (click)="TakePhoto();camera2=!camera2"><mat-icon>camera_alt</mat-icon></button>    
                </div>

                <div  *ngIf="isShownCam && camera2" class="Scan-container">
                    <webcam [height]="100"
                            [width]="100"
                            [trigger]="triggerObservable"
                            (imageCapture)="handleImage($event)">
                    </webcam>
                </div>
                <div class="reas-nfc">
                    <button class="action-buttonShot" *ngIf="isShownCam && camera2"  (click)="triggerSnapshot()">Click Here and take the Shot</button>
                  </div>
        
                  <!--          <button class="actionBtn" (click)="triggerSnapshot();">-->
                  <!--            Click Here and take the Shot</button>-->
                  <div  *ngIf="isShownCam && camera2" class="Scan-container">
        
                    <div class="snapshot" *ngIf="webcamImage">
                      <img [height]="90"
                           [width]="90" [src]="webcamImage.imageAsDataUrl"/>
                    </div>
                  </div>
            </div>
        </div>
        
        <button mat-button class="btn-yellow" (click)="Send()">Send</button>  
    </div>
</div>
