
.containe-ids{
    display: flex;
    padding: 20px;
    margin: 20px;
    flex-flow: column wrap ;
    background-color: #fff;
    justify-content: flex-start ;
    align-items: center;
    gap: 10px 20px; 
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.btn-green{
    background-color: #27AE61;
    border-radius: 12px;
    border: 1px solid rgba(27, 31, 35, .15);
    box-sizing: border-box;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    text-align: center;
    width:100px;
    height: 30px;
  }