<mat-dialog-content>
    <div class="dialog-container">
        <h1 class="title">User Info</h1>
        <span *ngIf="data.data.status=='Active'" style="background-color: #27AE61;">{{data.data.status}}</span>
        <span *ngIf="data.data.status=='out of work'" style="background-color: #AE5827;">{{data.data.status}}</span>
        <div class="user-info">
            <div class="info-container">
                <div class="fields">
                    <div class="field">
                        <label>User Id</label>
                        <div class="case">
                            <ng-container *ngIf="!data.data.UserID">
                               <p>not found</p> 
                            </ng-container>
                            
                            <p>{{data.data.UserID}}</p>
                        </div>
                    </div>
                    <div class="field">
                        <label>CIN</label>
                        <div class="case">
                            <p>{{data.data.CIN}}</p>
                        </div>
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <div class="case">
                            <p>{{data.data.email}}</p>
                        </div>
                    </div>

                </div>
                <div class="fields">
                    <div class="field">
                        <label>Name</label>
                        <div class="case">
                           <p>{{data.data.name}}</p> 
                        </div>
                    </div>
                    <div class="field">
                        <label>Phone Number</label>
                        <div class="case">
                           <p>{{data.data.phone}}</p> 
                        </div>
                    </div>
                    <div class="field">
                        <label>Role</label>
                        <div class="case">
                            <p>{{data.data.role}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <ng-template [ngIf]="RoleActive()" [ngIfElse]="sectorDisplay">
            <ng-container >
                <div class="sectors-container">
                    <div class="field">
                        <label>Sectors</label>
                        <div class="sectors" >
                            
                            <div class="case" >
                                <p>Has All Sectors</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </ng-container>
            </ng-template>
            <ng-template #sectorDisplay>
                <div class="sectors-container">
                    <div class="field">
                        <label>Sectors</label>
                        <div class="sectors" >
                            <ng-container *ngFor="let sector of Sectors">
                                <div class="case">
                                    <p>{{sector}}</p>
                                </div>
                            </ng-container>     
                        </div>
                    </div>
                </div>
            </ng-template>
            
            
        </div>
    </div>
    <!-- <p> {{data.NomPrenom}}</p> -->
</mat-dialog-content>

<mat-dialog-actions class="action-btns" align="center">
    <button mat-raised-button color="primary" class="btn-green" (click)="updateUser(data.data)" mat-dialog-close>Update User</button>
    <button *ngIf="data.data.status=='Active'" mat-raised-button color="primary" class="btn-green" (click)="addNewRole(data.data)" mat-dialog-close>Add New Role</button>
    <button *ngIf="data.data.status=='Active'" mat-raised-button color="primary" class="btn-red" (click)="deleteUser(data.data)" mat-dialog-close>Delete User</button>
    <button *ngIf="data.data.status=='out of work'" mat-raised-button color="primary" class="btn-orange" (click)="restoreUser(data.data)" mat-dialog-close>Restore this User</button>
</mat-dialog-actions>