.tool{
    position: fixed;
    z-index:-10;
  }
.dropdown-content {
    display: none;
  
  
    position: absolute;
    top:182px;
    background-color: #262626;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  /*=================================================
      Displaying the content as the menu is clicked
  ===================================================*/
  .dropdown-menu:checked~ .dropdown-content{
      display:block;
  }
  /*=================================================
      Styling the navbar header
  ===================================================*/
  /* header{
    overflow:hidden;
    background-color:#262626; 
    margin-bottom:50px;
  } */
  #logo{
    font-size:20px; 
    text-transform:uppercase; 
    color:white; 
    font-weight:bold;
    float:left;
    padding: 25px 20px;
    margin-left:12%; 
    
  }
  
  nav a{
    /* float:right; */
    text-decoration:none;
    color:white; 
    font-size:18px; 
    padding: 25px 35px; 
    display:inline-block; 
    transition: all 0.5s ease 0s;
  }
  /* body{
      background-color:#6abce3;
      margin:0px; 
      padding:0px; 
      font-family: 'Open Sans', sans-serif;
  } */
  /*=================================================
      Styling the dropdown menu
  ===================================================*/
  .dropdown{
      float:right;
      padding-top:25px;
  }
  .dropdown label{
       padding: 25px 30px;
       font-size:18px; 
       color:white; 
       cursor: pointer;
  }
  .dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    border-bottom:1px solid white;
    display: block;
  }
  /*=================================================
          Adding hover effect
  ===================================================*/
  .dropdown-menu:hover~label{
      background-color:#fff;
  }
  nav a:hover{
    background-color:#fff;  
    transition: all 0.5s ease 0s;
  }
  /*=================================================
          Styling the heading
  ===================================================*/
  h1{
    font-size:26px; 
    padding:40px 0px;  
    text-align:center;
    font-weight:700;
  }
  
  h1 span{
    font-weight:200;
  }
  /*=================================================
          Styling the contents section
  ==================================================*/
  section{
    width:100%; 
    max-width:1000px; 
    margin:0px auto; 
  }
  
  .content{
    margin-bottom:60px;
    width:750px;
  }
  
  .content h2{
    font-size:18px; 
    font-weight:500; 
    color:#002e5b; 
    border-bottom:1px solid grey; 
    padding-bottom:10px; 
    margin-bottom:10px;
  }
  
  .content p{
    font-size:18px; 
    line-height:22px; 
    color:white; 
    text-align:justify;
  }
  .hamburger-icon{
      display:none;
  }
  /*=================================================
          Extra adjustmens
  ==================================================*/
  nav{
    margin-right:12%;
  }
  
  @media only screen and (max-width: 980px) {
       nav {
        display:none; 
        width:100%; 
        padding:0px;
        margin-left:10%;
      }
      header{
        padding:22px 0px;
      }
      #logo{
        padding:0;
      }
      /*=================================================
          Hamburger Menu
      ==================================================*/
      .hamburger-icon{
        display:block;
        margin-right:100px;
      }
      .hamburger-icon div{
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative; 
        background: #cdcdcd;
        border-radius: 3px;   
        transform-origin: 4px 0px; 
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
      }
       label {
        float:right; 
        padding:8px 0px; 
        display:inline-block; 
        cursor:pointer; 
      }
      /*=================================================
          Displaying the menus
      ==================================================*/
      input[type=checkbox]:checked ~ nav{
        display:block;
      }
      /*=================================================
              Designs for displaying the menus
      ==================================================*/
      nav a{
        width:100%;
        float:none; 
        padding:0px; 
        color:#FFF; 
        font-size:15px; 
        padding:10px 20px; 
      }
      .dropdown{
          width:100%;
          float:none;
  
      }
      .dropdown-content{
          position:relative;
          top:0px;
          left:15px;
          width:100%;
          box-shadow:0px 0px 0px 0px;
      }
      .dropdown-content a{
          border:0px;
          border-bottom:0px;
      }
      .dropdown label{
          width:100%;
          float:none;
          font-size:15px;
          padding:10px 20px; 
      }
      /*=================================================
          Converting the lines to CROSS
      ==================================================*/
       .hamburger-menu:checked ~ label div:nth-last-child(1){
          opacity: 1;
          transform: translate(0px,-15px) rotate(45deg);
      }
      .hamburger-menu:checked ~ label div:nth-last-child(2){
          opacity: 1;
          transform: rotate(-45deg) translate(-11px, 5px);
      }
      /*=================================================
          Removing this line from display as 
          for cross we need only two lines
        ==================================================*/
      .hamburger-menu:checked ~ label div:nth-last-child(3){
         opacity:0;
      }
  }