<div class="content-body">

    <h2>Update Client</h2>

    <ng-container *ngIf="percentage == 100; else elseTemplate">
        <p>Position Fixed</p>
    </ng-container>
    <ng-template #elseTemplate>
        <p>Fixing Position...</p>
    </ng-template>

    <div>
        <pre>pos collectés: {{list.length}}</pre>
        <pre>Accuracy: {{acc}}</pre>
    </div>

    <div ng-app ng-controller="ApplicationController" class="progress-cantainer">
        <mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar>
        <span style="position: absolute; top: 0em;" [ngStyle]="{'left': percentage + '%'}">{{percentage}}%</span>
    </div>

    <div class="map-container">
        <div id="map2"></div>
    </div>

    <div>
        <button mat-button class="btn-yellow" (click)="showcheck()"
            [disabled]="(percentage!=100) ||  !Status">Next</button>
    </div>

    <div class="container" id="checkcodes">
        <div class="checkcodes-fields">
            <div class="scan-field">
                <label class="input-label">Code Centrale Danoune : </label>
                <div>
                    <button mat-button class="btn-green" [disabled]="test"
                        (click)="toggleShow(1,qrResultString);">Scan</button>
                    <div *ngFor="let code of ListCodes" class="qr-container">
                        <span *ngIf="code.nbr == 1">{{ code.value}}</span>
                    </div>
                    <span *ngIf="clientInfo.geometry.properties.codeDANON==null, else scanned" style="color: red;">Not
                        scanned</span>
                    <ng-template #scanned>{{clientInfo.geometry.properties.codeDANON}}</ng-template>
                </div>

            </div>
            <div class="scan-field">
                <label class="input-label">Code Coca Cola : </label>
                <div>
                    <button mat-button class="btn-green" [disabled]="test"
                        (click)="toggleShow(2,qrResultString)">Scan</button>
                    <div *ngFor="let code of ListCodes" class="qr-container">
                        <span *ngIf="code.nbr == 2">{{ clientInfo.geometry.properties.codeCOLA}}</span>
                    </div>
                    <span *ngIf="clientInfo.geometry.properties.codeCOLA==null, else scanned" style="color: red;">Not
                        scanned</span>
                    <ng-template #scanned>{{clientInfo.geometry.properties.codeCOLA}}</ng-template>
                </div>

            </div>
            <div class="scan-field">
                <label class="input-label">Code FGD : </label>
                <div>
                    <button mat-button class="btn-green" [disabled]="test"
                        (click)="toggleShow(3,qrResultString)">Scan</button>
                    <div *ngFor="let code of ListCodes" class="qr-container">
                        <span *ngIf="code.nbr == 3">{{ clientInfo.geometry.properties.codeFGD}}</span>
                    </div>
                    <span *ngIf="clientInfo.geometry.properties.codeFGD==null, else scanned" style="color: red;">Not
                        scanned</span>
                    <ng-template #scanned>{{clientInfo.geometry.properties.codeFGD}}</ng-template>
                </div>

            </div>
        </div>
        <div id="divshow" *ngIf="isShown && !scan" class="Scan-container">
            <p>Scanning...</p>
            <zxing-scanner Class="small-video" (scanSuccess)="onCodeResult($event)"></zxing-scanner>
            <section class="results" *ngIf="qrResultString">
                <div>
                    <small>Result {{code.nbr}} : </small>
                    <strong>{{ qrResultString }}</strong>
                </div>
                <button mat-button class="btn-green" (click)="toggleShow(code.nbr,qrResultString)">Done</button>
            </section>
        </div>
        <button mat-button class="btn-yellow" [disabled]="test" (click)="CheckCodes()">Check codes</button>

    </div>

    <div class="container" id="nfc">

        <div class="inputs-container">
            <div class="nfc">
                <div class="scan-field">
                    <label class="input-label">NFC card puce : </label>
                    <button mat-button class="btn-green" (click)="Read()">Read</button>
                </div>
                <div *ngIf="clientInfo.geometry.properties.nfc.UUID!= null" class="nfc-div">
                    <span>UUID:</span>
                    <p>{{clientInfo.geometry.properties.nfc.UUID}}</p>
                    <span>Numero_Serie:</span>
                    <p>{{clientInfo.geometry.properties.nfc.Numero_Serie}}</p>
                    <span>Type_card:</span>
                    <p>{{clientInfo.geometry.properties.nfc.Type_card}}</p>
                    <span>Technologies:</span>
                    <p>{{clientInfo.geometry.properties.nfc.Technologies}}</p>
                </div>
                <div class="scan-field">
                    <label class="input-label">Qr Code : </label>
                    <div>
                        <button mat-button class="btn-green"
                            (click)="toggleShow(4,qrResultString);scan=!scan">Scan</button>
                        <div *ngFor="let code of ListCodes" class="qr-container">
                            <span *ngIf="code.nbr == 4">{{code.value}}</span>
                        </div>
                        <span *ngIf="clientInfo.geometry.properties.codeQR==null, else scanned" style="color: red;">Not
                            scanned</span>
                        <ng-template #scanned>{{clientInfo.geometry.properties.codeQR}}</ng-template>
                    </div>

                </div>
                <div *ngIf="isShown && scan " class="Scan-container">
                    <zxing-scanner Class="small-video" (scanSuccess)="onCodeResult($event)"></zxing-scanner>

                    <section class="results" *ngIf="qrResultString">
                        <div>
                            <small>Result: </small>
                            <strong>{{ qrResultString }}</strong>
                        </div>
                        <button mat-button class="btn-green" (click)="toggleShow(code.nbr,qrResultString)">Done</button>
                    </section>
                </div>
                <div class="scan-field">
                    <label class="input-label">NFC photo : </label>
                    <button mat-button class="btn-green" (click)="displayNFCam();">
                        <mat-icon>camera_alt</mat-icon>
                    </button>
                </div>
                <div *ngIf="showNFCWebcam" class="Scan-container">
                    <webcam [height]="200" [width]="500" [trigger]="triggerObservable"
                        (imageCapture)="handleNFCImage($event)">
                    </webcam>
                    <div class="reas-nfc">
                        <button mat-button class="btn-green" (click)="triggerSnapshot();">Click Here</button>
                        <button mat-button class="btn-green" (click)="toggleNFCWebcam();">Close Camera</button>
                    </div>
                </div>

                <div class="Scan-container">
                    <div class="snapshot">

                        <img *ngIf="webcamNFCImage; else nfcphoto" [height]="200" [width]="200"
                            [src]="webcamNFCImage.imageAsDataUrl" style="border-radius: 8px;" />


                        <ng-template #nfcphoto>
                            <img [height]="200" [width]="200" src="{{clientInfo.geometry.properties.NFCP}}"
                                style="border-radius: 8px;" />
                        </ng-template>

                    </div>
                </div>
            </div>

            <div class="pdv">

                <div class="field">
                    <mat-form-field>
                        <mat-select placeholder="PDV Type*" panelClass="selectPanel2"
                            [(ngModel)]="clientInfo.geometry.properties.TypeDPV">
                            <mat-option value="Detail">Detail</mat-option>
                            <mat-option value="Gros">Gros</mat-option>
                            <mat-option value="Demi Gros">Demi Gros</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="field" *ngIf="clientInfo.TypeDPV=='Detail'">
                    <mat-form-field>
                        <mat-select placeholder="PDV Detail Type*" panelClass="selectPanel2"
                            [(ngModel)]="clientInfo.geometry.properties.detailType">
                            <mat-option value="Alimentation">Alimentation</mat-option>
                            <mat-option value="Superette">Superette</mat-option>
                            <mat-option value="Aattar">Aattar</mat-option>
                            <mat-option value="Fruits sec">Fruits sec</mat-option>
                            <mat-option value="Boundif">Boundif</mat-option>
                            <mat-option value="Parfumerie">Parfumerie</mat-option>
                            <mat-option value="Kioske">Kioske</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="field">
                    <mat-form-field>
                        <mat-label>First & Last Name*</mat-label>
                        <input matInput placeholder="Typing..."
                            [(ngModel)]="clientInfo.geometry.properties.NomPrenom" />
                    </mat-form-field>
                </div>


                <div class="field">

                    <mat-form-field>
                        <mat-label>Phone number*</mat-label>
                        <input matInput placeholder="+212" [(ngModel)]="clientInfo.geometry.properties.PhoneNumber" />
                    </mat-form-field>

                    <button mat-button class="btn-green"
                        (click)="Verify('code'); showVerifCodeInput= true">Verify</button>
                </div>

                <div class="field" *ngIf="showVerifCodeInput">
                    <mat-form-field>
                        <input matInput placeholder="code SMS" name="codeSMS" [(ngModel)]="codeSMS" />
                    </mat-form-field>
                    <button (click)="VerifySMS()">OK</button>
                    {{status}}
                </div>
                <div class="field">
                    <mat-label class="input-label">PV photo : </mat-label>
                    <button mat-button class="btn-green" (click)="displayPDVcam()">
                        <mat-icon>camera_alt</mat-icon>
                    </button>
                </div>

                <div *ngIf="showPDVWebcam" class="Scan-container">
                    <webcam [height]="200" [width]="500" [trigger]="triggerObservable"
                        (imageCapture)="handlePDVImage($event)">
                    </webcam>
                    <div class="reas-nfc">
                        <button mat-button class="btn-green" (click)="triggerSnapshot()">Click Here</button>
                        <button mat-button class="btn-green" (click)="togglePDVWebcam()">Close Camera</button>
                    </div>
                </div>


                <!--          <button class="actionBtn" (click)="triggerSnapshot();">-->
                <!--            Click Here and take the Shot</button>-->
                <div class="Scan-container">

                    <div class="snapshot">
                        <img *ngIf="webcamPDVImage; else pdvphoto" [height]="200" [width]="200"
                            [src]="webcamPDVImage.imageAsDataUrl" style="border-radius: 8px;" />


                        <ng-template #pdvphoto>
                            <img [height]="200" [width]="200" src="{{clientInfo.geometry.properties.PVP}}"
                                style="border-radius: 8px;" />
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

        <button mat-button class="btn-yellow" (click)="Update()">Update</button>
    </div>


</div>