<div class="requests-container">
    <div class="table-holder">

        <div class="title-holder">
          <h1 class="list-title">Users</h1>
          <div class="btns">
            <button mat-button routerLink="/addUser">Add New User</button>
          </div>
        </div>

      
        <table mat-table matSort [dataSource]="dataSource">
          <!--  <ng-container matColumnDef="Id">
            <th class="header id-column" mat-header-cell *matHeaderCellDef>
              <span>Id</span>
              
            </th>
            <td mat-cell *matCellDef="let request">{{request.UserID}}</td>
          </ng-container> -->
          
          <ng-container matColumnDef="Name">
            <th class="header name-column" mat-header-cell *matHeaderCellDef>
              <span>Name</span>
              <!-- <button mat-button class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>
            <td mat-cell *matCellDef="let request">{{request.name}}</td>
          </ng-container>
      
          <ng-container matColumnDef="CIN">
            <th class="header cin-column" mat-header-cell *matHeaderCellDef>
              <span>CIN</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>
            <td mat-cell *matCellDef="let request">{{request.CIN}}</td>
          </ng-container>
          
          <ng-container matColumnDef="Phone Number">
            <th class="header number-column" mat-header-cell *matHeaderCellDef>
              <span>Phone Number</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>
            <td mat-cell *matCellDef="let request">{{request.phone}}</td>
          </ng-container>
            
          <ng-container matColumnDef="Email">
            <th class="header email-column" mat-header-cell *matHeaderCellDef>
              <span>Email</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon"></mat-icon>
              </button> -->
            </th>
            <td mat-cell *matCellDef="let request">{{request.email}}</td>
          </ng-container>

          <ng-container matColumnDef="Role">
            <th class="header role-column" mat-header-cell *matHeaderCellDef>
              <span>Role</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>
            <td mat-cell *matCellDef="let request">
              {{request.role}}
            </td>
          </ng-container>


          <ng-container matColumnDef="Status">
            <th class="header role-column" mat-header-cell *matHeaderCellDef>
              <span>Status</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>
            <ng-container *matCellDef="let request" >
              <td mat-cell *ngIf="request.status=='out of work'"><span style="background-color: #AE5827; padding: 3px; color: #fff; border-radius: 3px;">{{request.status}}</span></td>
              <td mat-cell *ngIf="request.status=='Active'"><span style="background-color: #27AE61; padding: 3px; color: #fff; border-radius: 3px;">{{request.status}}</span></td>
            </ng-container>
          
          </ng-container>
      
          <ng-container matColumnDef="Actions">
            <th class="header actions-column" mat-header-cell *matHeaderCellDef>
              <span>Actions</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>
            <!-- <td mat-cell *matCellDef="let request">
                <button mat-icon-button (click)="updateUser(request)" title="Update user"><mat-icon class="valid-icon">edit</mat-icon></button>
                <button mat-icon-button (click)="deleteUser(request)" title="Delete user" *ngIf="request.status=='Active'">
                  <mat-icon class="refus-icon" >delete</mat-icon>
                </button>
                <button mat-icon-button (click)="restoreUser(request)" title="Bring back this user" *ngIf="request.status=='out of work'">
                  <mat-icon class="restore-icon" >restore_from_trash</mat-icon>
                </button>
                <button mat-icon-button (click)="viewUserDetails(request)" ><mat-icon class="detail-icon" title="Click to view user details.">remove_red_eye</mat-icon></button>
            </td> -->
          </ng-container>
          
      
          <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let request; columns: columnsToDisplay"></tr> -->
      
        </table>

        <mat-paginator [pageSizeOptions]="[ 10, 15, 20]" showFirstLastButtons></mat-paginator>
      
    </div>

</div>