.adduser-container{
    margin-top: 20px;
    padding-bottom: 40px;
}

.title-holder {
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 10px;
}

.title{
    font-weight: bold;
    color: rgb(100, 102, 102);
    font-family: 'Montserrat', sans-serif;
}
  
.holder{
    background-color: white;
    padding: 15px;
    padding-top: 5px;
    border-radius: 5px;
    margin-left: 45px;
    margin-right: 45px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.add-form{
    margin-left: 10%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
}
.field{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin: 5px;
}
.field mat-foforrm-field{
    width:300px !important;
}

.nmi{
    width: 300px;
    height: 40px;
}

.field mat-form-field input::placeholder{
    font-size: 9px !important;
}
.field label{
    font-size: 15px;
    font-weight: bold;
    width:200px;
    display: inline-block;
}

.matricule{
    background-color: rgb(206, 204, 204);
}
.matricule:disabled{
    color: rgb(100, 102, 102);
}
.gen-btn{
    background-color: #27AE61;
    color: #fff;
}

.btn-green{
    margin-top: 20px;
    align-self: flex-end;
    background-color: #27AE61;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    width: 100px !important;
    border-radius: 20px;
    text-align: center !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.btn-red{
    margin-top: 20px;
    margin-right: 10px;
    align-self: flex-end;
    background-color: #AE5827;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    width: 100px !important;
    border-radius: 20px;
    text-align: center !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.btns{
    align-self: flex-end;
}
