.clients_container{
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 8px;
    background-color: #F6F6F6;
}
.clients_container button{
    margin: 8px;
    border-radius: 10px;
    color: #646161;
    border: 1px solid #959191;
    width: 140px;
}
.clients_container button mat-icon{
    color: #27AE61;
}

.clients-list{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: row wrap;
    
}
.clients-list mat-card{
    width: 200px;
    height: auto;  
}
.clients-list mat-card img{
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 0;
    border-radius: 10px !important;
}

.card-content{
    text-align: center;
}
p{
    margin-bottom: 0;
}
