<div class="requests-container">
    <div class="table-holder">

        <div class="title-holder">
          <h1 class="list-title">Delete Requests</h1>
        </div>
      
        <table mat-table matSort [dataSource]="dataSource">
          <ng-container matColumnDef="Id">
            <th class="header id-column" mat-header-cell *matHeaderCellDef>
              <span>Id</span>
              <!-- <button mat-button class="float-right btn-icon">
                <mat-icon class="sort-icon"></mat-icon>
              </button> -->
            </th>
            <td mat-cell *matCellDef="let request">{{request.id}}</td>
          </ng-container>
          
          <ng-container matColumnDef="Sector">
            <th class="header sector-column" mat-header-cell *matHeaderCellDef>
              <span>Sector</span>
              <!-- <button mat-button class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>
            <td mat-cell *matCellDef="let request">{{request.sector}}</td>
          </ng-container>
      
          <ng-container matColumnDef="PDV Type">
            <th class="header type-column" mat-header-cell *matHeaderCellDef>
              <span>PDV Type</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>
            <td mat-cell *matCellDef="let request">{{request.type}}</td>
          </ng-container>
          
          <ng-container matColumnDef="Reason">
            <th class="header reason-column" mat-header-cell *matHeaderCellDef>
              <span>Reason</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>
            <td mat-cell *matCellDef="let request">{{request.reason}}</td>
          </ng-container>
            
          <ng-container matColumnDef="Location">
            <th class="header location-column" mat-header-cell *matHeaderCellDef>
              <span>Location</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon"></mat-icon>
              </button> -->
            </th>
            <td mat-cell *matCellDef="let request">
                <button mat-icon-button><mat-icon class="location-icon">location_on</mat-icon></button>
            </td>
          </ng-container>
      
          <ng-container matColumnDef="Actions">
            <th class="header actions-column" mat-header-cell *matHeaderCellDef>
              <span>Actions</span>
              <!-- <button mat-button  class="float-right btn-icon">
                <mat-icon class="sort-icon" ></mat-icon>
              </button> -->
            </th>
            <td mat-cell *matCellDef="let request">
                <button mat-icon-button (click)="validateDelete()"><mat-icon class="valid-icon">check_box</mat-icon></button>
                <button mat-icon-button (click)="cancelDelete()"><mat-icon class="refus-icon">indeterminate_check_box</mat-icon></button>
                <button mat-icon-button (click)="viewPDVDetails('yes')"><mat-icon class="detail-icon">remove_red_eye</mat-icon></button>
            </td>
          </ng-container>
          
      
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let request; columns: columnsToDisplay"></tr>
      
        </table>
      
    </div>
</div>
