/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;  }
* {
    font-family: 'Montserrat', sans-serif;
    /* Add !important to overwrite all elements */
  }

.cdk-overlay-container .cdk-overlay-pane .selectPanel{
  margin-top: 20%;
  background-color: #fff;
  border-radius: 15px;
}

.cdk-overlay-container .cdk-overlay-pane .selectPanel2{
  margin-top: 20%;
  background-color: #fff;
  border-radius: 15px;
  color: black;
}
