<div class="map-frame">
      <div id="map"></div>
      <div class="buttons-wrapper">
            <div class="my-location-container">

                  <button mat-icon-button
                  aria-label="small button" (click)="locate()">
                        <mat-icon>my_location</mat-icon>
                  </button>

            </div>
            <button mat-button class="btn-primary" [disabled]="!statusAddClient" [routerLink]="['/addclient', mySector]">Add PDV</button>
            <button mat-button class="btn-warning" (click)="sync()">Synchronize</button>
      </div>
      <div class="map-top-elements">
            <!-- <button mat-raised-button class="my-location">
                  <mat-icon>my_location</mat-icon>
            </button>  -->
            <!--====================  -->
            <div class="element-container">
                  <div class="search-input">
                        <mat-icon>search</mat-icon>
                        <input type="text" name="search" autocomplete="off" [(ngModel)]="IDGeomerty" >
                  </div>
                  <button (click)="Search(IDGeomerty)">Search</button>
            </div>
            <!-- =============== -->
            <div class="element-container">
                  <div class="select-input">
                        <mat-select panelClass="selectPanel" placeholder="PDV Type">
                              <mat-option value="">Audit</mat-option>
                              <mat-option value="">Audit Retail</mat-option>
                              <mat-option value="">Other stuff</mat-option>
                        </mat-select>
                  </div>
            </div>
            <div class="element-container">
                  <div class="select-input">
                        <mat-select panelClass="selectPanel" placeholder="Done">
                              <mat-option value="">Done</mat-option>
                              <mat-option value="">Not Done</mat-option>
                        </mat-select>
                  </div>
            </div>
      </div>
</div>




