/* .map-container {
  /* position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px; 
} */
  

#map {
  height: 100%;
}

.map-frame {
  position: relative;
  /* border: 2px solid black; */
  height: 100%;
}
.buttons-wrapper{
  display: flex;
  margin-right: 20px;
  right: 0;
  flex-flow: column wrap;
  position: absolute;
  bottom: 20px;
  z-index: 9999;
}

.map-top-elements{
  display: flex;
  margin-left: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  left: 0;
  flex-flow: row wrap;
  position: absolute;
  top: 20px;
  z-index: 9999;
}
.element-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.element-container button{
  margin: 8px;
  height: 20px;
  width: 80px;
  background-color: #27AE61;
  color: #fff;
  font-size: 12px;
  border-radius: 40px;
  text-align: center !important;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.select-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  padding-right: 10px;
  margin-left: 20px;
  border: none;
  width: 250px;
  height: 40px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.select-input mat-icon{
  color: #27AE61;
}

/* ::ng-deep .mat-select{
  width: 100px;
  font-size: 1em;
}
.search-input .select-panel{
  background-color: #FACF37;
} */
.select-input select{
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
  width: 100px;
  max-height:200px;
  overflow-y:scroll;
  outline : none;
  border: none !important;
  transition: none;
  background-color: #fff;
  color: #3b3a3a;
}
.select-input select option{
  outline: none;
  margin: 8px;
}
.search-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  margin-left: 30px;
  border: none;
  width: 300px;
  height: 40px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.search-input mat-icon{
  color: #27AE61;
}

.search-input input{
  border: none;
  outline: none;
}
.search-input input:focus{
  outline: none;
  color: #3b3a3a;
  font-size: 12px;
}

.my-location-container{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.my-location{
  color: #3b3a3a;
  width: 10px;
}
.btn-primary{
  margin: 8px;
  background-color: #27AE61;
  color: #fff;
  font-size: 12px;
  width: 140px !important;
  border-radius: 40px;
  text-align: center !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.btn-warning{
  margin: 8px;
  background-color: #FACF37;
  color: #fff;
  font-size: 12px;
  width: 140px !important;
  border-radius: 40px;
  text-align: center !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

  