<div class="map-frame">
      <div id="map"></div>
      <div class="buttons-wrapper">
            <div class="my-location-container">

                  <button mat-icon-button aria-label="small button" (click)="locate()">
                        <mat-icon>my_location</mat-icon>
                  </button>

            </div>
            <ng-container *ngFor="let perm of user.permissions">
                  <button *ngIf="perm == 'Add Client'" mat-button class="btn-primary" [disabled]="!statusAddClient" (click)="addPDV()"
                  >Add PDV</button>
                  <button *ngIf="perm == 'Extract Data'" mat-button class="btn-warning" style="background-color:rgb(56, 117, 231)" (click)="extract()">Extract</button>
            </ng-container>
            
            <button mat-button class="btn-warning" (click)="sync()">Synchronize</button>
            
      </div>
      <div class="map-top-elements">
            <!-- <button mat-raised-button class="my-location">
                  <mat-icon>my_location</mat-icon>
            </button>  -->
            <!--====================  -->
            <div class="element-container">
                  <div class="search-input">
                        <mat-icon>search</mat-icon>
                        <input type="text" name="search" autocomplete="off" [(ngModel)]="IDGeomerty">
                  </div>
                  
                  <button (click)="SearchIndexDB(IDGeomerty)">Search</button>
            </div>
            <!-- =============== -->
            <div class="element-container">
                  <div class="select-input">
                        <mat-select panelClass="selectPanel" (selectionChange)="onChange3()" [(ngModel)]="option_retail"
                              placeholder="PDV Type">
                              <mat-option value="All">All</mat-option>
                              <mat-option value="Audit">Gros</mat-option>
                              <mat-option value="Audit_Retail">Detail</mat-option>
                              
                        </mat-select>
                  </div>
            </div>
            <div class="element-container">
                  <div class="select-input">
                        <mat-select panelClass="selectPanel" (selectionChange)="onChange4()" [(ngModel)]="option_done"
                              placeholder="Validated filter">
                              <mat-option value="All">All</mat-option>
                              <mat-option value="Done"> Validated</mat-option>
                              <mat-option value="Not_Done">Waiting for validation</mat-option>
                              <mat-option value="Deleted">Deleted</mat-option>
                        </mat-select>
                  </div>
            </div>
      </div>
</div>