.btn-green{
    font-size: 13px;
    color: #ffff;
    background-color: #27AE61;
    border-radius: 8px;
    width: 150px;
    line-height: 35px;
}
.btn-red{
    font-size: 13px;
    color: #ffff;
    background-color: #AE5827;
    border-radius: 8px;
    width: 150px;
    line-height: 35px;
}

.extract-container{
    width: 400px;
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.date-field{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}


mat-icon {
    position: relative;
    float: right;
    top: -3px;
    cursor: pointer;
    color: rgba(77, 75, 75, 0.54);
  }

